<style type="text/css">
  a.panel-heading{
    display: block;
    text-decoration: none;
  }
</style>
<div class="row">
  <div class="col-sm-12">
    <%= form_for @question_group, :html => { :class => "form-horizontal question_group" } do |f| %>
      <%= render partial: "question_groups/new/form", locals: {question_group: @question_group, f: f} %>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")), question_groups_url, :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
 
</script>